@import 'variables';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
}

h2, h3 {
  color: $text-color; // テキストの基本色（濃紺）に
    font-weight: 600;
}

a {
    color: $primary-color; // リンクはメインカラー（青）に
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}