@import 'variables';

%button-base {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: $border-radius;
    font-weight: 500;
    color: $white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.1s;

    &:hover {
        text-decoration: none;
        color: $white;
        transform: translateY(-1px);
    }
}

// 通常のボタン (メインカラー)
button, .button {
    @extend %button-base; // 基本スタイルを継承
    padding: 0.6rem 1.2rem;
    font-size: $base-font-size;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 8%);
        border-color: darken($primary-color, 8%);
    }
}

// 危険な操作や否定的なアクション用のボタン
.button-danger {
    @extend %button-base;
    padding: 0.6rem 1.2rem;
    font-size: $base-font-size;
    background-color: darken($alert-color, 5%);
    border-color: darken($alert-color, 5%);

    &:hover {
        background-color: darken($alert-color, 15%);
        border-color: darken($alert-color, 15%);
    }
}