// FullCalendarの見た目を部分的に調整するためのファイル
@import 'variables';

// :rootセレクタで、FullCalendarが使用するCSS変数の値を上書きする
:root {
    --fc-event-bg-font-size: 0.8em;
    --fc-event-font-style: normal;
}

// 祝日名の位置と色など、変数で変更できない部分を調整
.fc .fc-bg-event .fc-event-title {
    padding-top: 0.25em;
    font-size: 0.65em !important;
    font-weight: bold;
    color: darken(#ffcdd2, 40%);
    font-style: normal;
}